body{
    font-style: italic;
}
*{
    margin: 20px;
}

.header{
    padding: 16px;
    margin: 20px;
    font-size: 20px;
    text-align: left;
    background-color: rgb(243, 87, 87);
    color: aliceblue;
}